* {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
}
ul {
  list-style: none;
  padding-left: 0px;
}

.dashboard {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  background-color: #334155;
  color: #fff;
  padding: 15px 20px 0px 30px;
}
.dashboard .menu-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.dashboard .menu-logo svg {
  fill: #fff;
  width: 50px;
}
.dashboard .menu {
  margin: 30px 0px 10px 20px;
}
.dashboard .menu svg {
  fill: #ffffff;
  width: 30px;
}
.dashboard .menu ul li {
  display: flex;
  margin: 0 0 10px 0;
  gap: 15px;
  align-items: center;
}
.dashboard .menu ul li:hover {
  box-shadow: inset 0px 15px 1px -14px #64748b, inset 0px -15px 1px -14px #64748b; 
  color: #64748b;
  cursor: pointer;
}
.dashboard .menu ul li:hover svg path {
  fill: #64748b;
}

.main {
  grid-area: 1 / 2 / 1 / 6;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.panel-up {
  grid-area: 1 / 1 / 1 / 1;
  display: grid;
  background-color: #fff6f6;
}
.panel-search .search {
  display: flex;
  width: 100%;
}
.panel-search input {
  background-color: #e2e8f0;
  border: none;
  border-radius: 20px;
  flex-grow: 1;
  margin: 0 200px 0 10px;
  padding: 2px 10px;
  font-size: 1.2rem;
}
.panel-search,
.panel-user-max {
  margin: 0 0 0 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-search ul {
  display: flex;
  align-items: center;
}
.panel-search ul li,
.panel-user-max ul li {
  display: inline;
  padding: 0 10px;
}
.panel-search .search {
  display: flex;
  align-items: center;
}
.panel-up svg {
  width: 30px;
}
.panel-up svg:hover {
  cursor: pointer;
  fill: #926161;
}
.panel-user-max img {
  width: 50px;
}
.user-mini img {
  width: 30px;
}
button {
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: #334155;
  cursor: pointer;
}
button:hover {
  background-color: #5191bf;
}
button:active {
  transform: translateY(-1px);
}

.panel-down {
  grid-area: 2 / 1 / 7 / 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e2e8f0;
  box-shadow: inset 0px 2px 10px 0px rgb(133, 137, 180);
  gap: 10px;
}
.your-projects {
  grid-area: 1 / 1 / 1 / 4;
  margin: 30px 10px 0 20px;
}
.your-projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.your-projects svg {
  width: 30px;
}
.your-projects svg:hover {
  cursor: pointer;
  fill: rgb(183, 145, 145);
}

.annouc-trending {
  grid-area: 1 / 4 / 1 / 5;
  margin: 30px 20px 0 0;
}

.trending h3,
.your-projects h3,
.annouc-trending h3 {
  margin: 15px 0;
}

.annouc-container,
.trending-container {
  padding: 10px;
  background-color: #f8fafc;
  border-radius: 10px;
}

.annouc-item {
  padding: 10px 20px;
}
.trending {
  margin: 20px 0 0 0;
}
.trending-item {
  padding: 2px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    "l n n n"
    "l q q q";
  gap: 0 15px;
}
.user-item {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    "l q q q"
    "l n n n";
  gap: 0 15px;
}
.user-logo {
  grid-area: l;
  justify-self: flex-end;
}
.user-nick {
  grid-area: n;
}
.user-quote {
  grid-area: q;
  align-self: flex-end;
}
.trending-item img {
  width: 40px;
}

.project-item {
  padding: 10px 20px;
  background-color: #f8fafc;
  border-left: 5px solid #ffa500;
  border-radius: 10px;
}
.project-item-settings {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: end;
  gap: 10px;
}
